@import "colors.css";
* {
    font-family: Iosevka;
    font-size: 13px;
}
window#waybar {
    background-color: @base;
    color: @text;
}
#workspaces {
    background-color: alpha(@overlay0, 0.2);
    border-radius: 1rem;
}

button:hover{
    background: inherit; 
    border: inherit;
    box-shadow: none;
}
#workspaces button {
    padding: 0 5px;
    color: @text;
}
#workspaces button:first-child{
    border-radius: 1rem 0 0 1rem;
}
#workspaces button:last-child{
    border-radius: 0 1rem 1rem 0;
    padding: 0 10px 0 0;
}
.modules-right > widget > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

#pulseaudio {
    background-color: alpha(@overlay0, 0.2);
    border-radius: 1rem 0 0 1rem;
    color: @sky;
}
#network {
    background-color: alpha(@overlay0, 0.2);  
    color: @sapphire; 
}
#temperature {
    background-color: alpha(@overlay0, 0.2);  
    color: @blue
}
#battery {
    background-color: alpha(@overlay0, 0.2);
    color: @lavender;
}
@keyframes blink{
    to{
        color: @red;
    }
}
#battery.critical:not(.charging){
    color: @lavender;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#clock {
    background-color: alpha(@overlay0, 0.2);
    border-radius: 0 1rem 1rem 0;
    color: @mauve;
}
#tray {
    border-radius: 1rem;
    background-color: alpha(@overlay0, 0.2);
    margin-left: 10px;
    padding: 0 0.5rem 0 0.5rem;
}
